* {
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

#title{
    text-align: center;
    margin-bottom: 100px;
}

.timer{
    margin-left: 200px;
}

.button{
    margin-left: 400px;
    margin-bottom: 50px;
    padding: 20px;
    width: fit-content;
    border: 1px black solid;
    border-radius: 50%;
}

.guesses{
    position: absolute;
    left: 600px;
    top: 70px;
}

.guesses #first,
.guesses #second,
.guesses #third,
.guesses #fourth {

    list-style: none;
    float: left;
    width: 30px;
    height: 30px;
    border: 1px black solid;
    margin: 0 10px 18px 0;
    border-radius: 50%;
}

.buttons {
    position: absolute;
    left: 580px;
    top: 550px;
}

.buttons #but1,
.buttons #but2,
.buttons #but3,
.buttons #but4 {

    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 2px black solid;
    margin: 40px 10px 12px 0;
    border-radius: 50%;
}

/* .guessContainer {
    position: relative;
} */

.guessIndicators {
    position: relative;
    left: 800px;
    top: 90px;
}

.guessIndicators #i0, #i1, #i2, #i3 {
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.guessIndicators #i0{
    position: absolute;
    top: 0;
    left: 0;
}

.guessIndicators #i1{
    position: absolute;
    top: 0;
    left: 22px;
}

.guessIndicators #i2{
    position: absolute;
    top: 22px;
    left: 0;
}

.guessIndicators #i3{
    position: absolute;
    top: 22px;
    left: 22px;
}
